Repository kkhys/me: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write src, prettier --write .

chore(husky): add ability to verify before commit
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
Due: prettier --write .

chore(lintstaged): have codes formatted before commit
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write .

style(*): run prettier
  postcss.config.mjs
  tailwind.config.cjs
  tsconfig.json
Due: prettier --write .

fix(lintstaged): support next.js
  .eslintrc.json
  .idea/gitlab-config.xml
  .idea/jsLibraryMappings.xml
  .lintstagedrc.json
  .lintstagedrc.mjs
  app/layout.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write src, prettier --write .

perf(lint staged): add prettier
  .lintstagedrc.mjs
Due: none

perf(lint staged): add tsc command
  .lintstagedrc.mjs
Due: none

fix(lint staged): fix unable to run prettier
  .lintstagedrc.mjs
Due: none

chore(*): define directory structure
  assets/.gitkeep
  components/.gitkeep
  config/.gitkeep
  features/.gitkeep
  hooks/.gitkeep
  lib/.gitkeep
  test/.gitkeep
  types/.gitkeep
  utils/.gitkeep
Due: none

feat(component): add container component
  components/.gitkeep
  components/elements/Container/index.tsx
  components/elements/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write src, prettier --write .

chore(pnpm): up --latest
  pnpm-lock.yaml
Due: none

chore(actions): add automatic labels generator
  .github/labels.yml
  .github/workflows/github-label-sync.yml
Due: prettier --write .

fix(eslint): fix error in 'import/extensions'
  .eslintrc.json
Due: prettier --write .

chore(tailwind): add style-generating directory
  tailwind.config.cjs
Due: none

fix(tsconfig): fix errors when eslinting
  tsconfig.json
Due: prettier --write .

feat(component): add icons component
  components/elements/icons/CloseIcon.tsx
  components/elements/icons/index.tsx
  components/elements/index.ts
Due: prettier --write src

chore(lint staged): exclude mjs and cjs files from eslint
  .lintstagedrc.mjs
  tsconfig.json
Due: prettier --write .

chore(pnpm): up --latest
  package.json
  pnpm-lock.yaml
Due: prettier --write .

feat(tailwind): add settings
  package.json
  pnpm-lock.yaml
  tailwind.config.cjs
Due: prettier --write .

feat(icons): add new icons
  assets/.gitkeep
  components/elements/icons/ChevronDownIcon.tsx
  components/elements/icons/MoonIcon.tsx
  components/elements/icons/SunIcon.tsx
  components/elements/icons/index.tsx
Due: prettier --write src

feat(assets): add avatar image
  assets/avatar.jpg
Due: none

chore(package): add headless ui
  package.json
  pnpm-lock.yaml
Due: prettier --write .

feat(component): add header component
  components/global/Header/index.tsx
  components/global/index.ts
Due: prettier --write src

feat(home): add a "coming soon" message on the top page
  .github/labels.yml
  app/layout.tsx
  app/page.tsx
  components/elements/Container/index.tsx
  hooks/.gitkeep
  hooks/index.ts
  hooks/usePrevious.ts
  public/.gitkeep
  public/grid.svg
  readme.md
  tailwind.config.cjs
Due: prettier --write src, prettier --write .

fix(root-layout): fix url of background-image
  .env.sample
  app/layout.tsx
  config/.gitkeep
  config/index.ts
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
Due: prettier --write src, prettier --write .

fix(next-config): set swc minify to false
  .idea/inspectionProfiles/Project_Default.xml
  next.config.mjs
Due: none

fix(postcss): change the extension
  next.config.mjs
  postcss.config.cjs
Due: none

feat(not-found): create only skeleton of not-found component
  app/not-found.tsx
Due: prettier --write src

feat(home): create layout with header
  app/layout.tsx
  app/page.tsx
  components/global/Header/index.tsx
Due: prettier --write src

feat(home): add footer to layout
  app/page.tsx
  components/global/Footer/index.tsx
  components/global/index.ts
Due: prettier --write src

refactor(*): change directory structure
  .idea/gitlab-config.xml
  .idea/jsLinters/eslint.xml
  .idea/prettier.xml
  app/page.tsx
  components/elements/Container/Container.tsx
  components/elements/Container/index.ts
  components/elements/icons/ChevronDownIcon/ChevronDownIcon.tsx
  components/elements/icons/ChevronDownIcon/index.ts
  components/elements/icons/CloseIcon/CloseIcon.tsx
  components/elements/icons/CloseIcon/index.ts
  components/elements/icons/MoonIcon/MoonIcon.tsx
  components/elements/icons/MoonIcon/index.ts
  components/elements/icons/SunIcon/SunIcon.tsx
  components/elements/icons/SunIcon/index.ts
  components/elements/icons/index.ts
  components/elements/icons/index.tsx
  components/global/Footer/Footer.tsx
  components/global/Footer/index.ts
  components/global/Header/Header.tsx
  components/global/Header/index.ts
Due: prettier --write src

perf(actions): enable semantic release & set corepack
  .github/workflows/release.yml
  .npmrc
  package.json
Due: prettier --write .

feat(storybook): pnpm dlx storybook@next init
  .eslintrc.json
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write src, prettier --write .

fix(husky): change file name
  .husky/commit-message
Due: none

refactor(config): add site meta data object
  .env.sample
  config/env.ts
  config/index.ts
  config/siteMetadata.ts
Due: prettier --write src

refactor(*): change directory structure
  app/page.tsx
  components/general/icons/ChevronDownIcon/ChevronDownIcon.tsx
  components/general/icons/ChevronDownIcon/index.ts
  components/general/icons/CloseIcon/CloseIcon.tsx
  components/general/icons/CloseIcon/index.ts
  components/general/icons/MoonIcon/MoonIcon.tsx
  components/general/icons/MoonIcon/index.ts
  components/general/icons/SunIcon/SunIcon.tsx
  components/general/icons/SunIcon/index.ts
  components/general/icons/index.ts
  components/general/index.ts
  components/global/Footer/Footer.tsx
  components/global/Header/Header.tsx
  components/layout/Container/Container.tsx
  components/layout/Container/index.ts
  components/layout/index.ts
Due: prettier --write src

feat(layout): setup metadata
  app/layout.tsx
  config/siteMetadata.ts
Due: prettier --write src

feat(actions): setup chromatic
  .github/workflows/chromatic.yml
  .storybook/main.ts
  .storybook/preview.ts
  components/general/Button/Button.stories.tsx
  components/general/Button/Button.tsx
  components/general/Button/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write src, prettier --write .

fix(actions): add checkout to chromatic.yml
  .github/workflows/chromatic.yml
Due: prettier --write .

fix(package): add command of chromatic
  package.json
Due: prettier --write .

Path conditions:
  prettier --write src: any of: **/*.{js,jsx,ts,tsx}
  prettier --write .: any of: **/*.{md,json,yml}
