Repository kkhys/me: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write src, prettier --write .

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write src"],
  "**/*.{md,json,yml}": "prettier --write ."
}

fix(semantic-release): remove github actions config
  .github/workflows/release.yml
Due: prettier --write .

fix(semantic-release): change config
  .github/workflows/release.yml
Due: prettier --write .

chore(src): add some folders
  src/assets/.gitkeep
  src/components/.gitkeep
  src/config/.gitkeep
  src/hooks/.gitkeep
  src/lib/.gitkeep
  src/types/.gitkeep
  src/utils/.gitkeep
Due: none

refactor(components): change folder structure
  .node-version
  src/components/elements/.gitkeep
  src/components/features/.gitkeep
  src/components/global/.gitkeep
  src/components/pages/Home/index.tsx
  src/components/pages/index.ts
  src/components/templates/.gitkeep
  src/pages/index.ts
  yarn.lock
Due: prettier --write src

style(prettier): exec
  .prettierrc.json
  src/components/pages/Home/index.tsx
  src/components/pages/index.ts
  src/config/.gitkeep
  src/config/index.ts
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.ts
Due: prettier --write src, prettier --write .

feat(mdx): add mdx package
  .browserslistrc
  .github/workflows/release.yml
  .idea/codeStyles/Project.xml
  next.config.js
  next.config.mjs
  package.json
  postcss.config.js
  src/pages/_app.tsx
  src/pages/_document.tsx
  tailwind.config.js
  yarn.lock
Due: prettier --write src, prettier --write .

style(next.config): formatted
  next.config.mjs
Due: none

chore(env): add site url
  .env.example
Due: none

feat(styles): add style sheet of prism
  src/styles/globals.scss
  src/styles/prism.scss
Due: none

feat(components): add container components
  src/components/global/.gitkeep
  src/components/global/Container/index.tsx
Due: prettier --write src

feat(home-page): update top page
  src/components/global/index.ts
  src/components/pages/Home/index.tsx
  src/components/pages/index.ts
  src/components/templates/.gitkeep
  src/components/templates/Home/index.tsx
  src/components/templates/index.ts
  src/pages/index.ts
Due: prettier --write src

ci(label): add new workflow (test)
  .github/labels.yml
  .github/workflows/github-label-sync.yml
Due: prettier --write .

chore(labels): update github labels
  .github/labels.yml
Due: prettier --write .

fix(github-actions): fix labels
  .github/labels.yml
Due: prettier --write .

chore(github): test issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write .

feat(layout): add header and footer
  src/assets/.gitkeep
  src/assets/avatar.jpg
  src/components/elements/.gitkeep
  src/components/elements/Container/index.tsx
  src/components/elements/index.ts
  src/components/global/Footer/index.tsx
  src/components/global/Header/index.tsx
  src/components/global/index.ts
  src/components/templates/Home/index.tsx
  src/pages/_document.tsx
  tailwind.config.js
Due: prettier --write src

fix(gitignore): exclude icon folder
  .gitignore
  src/components/elements/Icon/index.tsx
Due: prettier --write src

feat(hero): add hero pattern
  src/components/elements/GridPattern/index.tsx
  src/components/elements/HeroPattern/index.tsx
  src/components/elements/index.ts
  src/components/templates/Home/index.tsx
Due: prettier --write src

build(*): create next app
  .eslintrc.json
  .gitignore
  .idea/.gitignore
  .idea/gitlab-config.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/me.iml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  app/api/hello/route.ts
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.module.css
  app/page.tsx
  next.config.js
  package.json
  pnpm-lock.yaml
  public/next.svg
  public/thirteen.svg
  public/vercel.svg
  tsconfig.json
Due: prettier --write src, prettier --write .

docs(readme): renew readme content
  README.md
Due: prettier --write .

perf(package): remove version and modify to use turbopack as development server
  .vscode/settings.json
  package.json
Due: prettier --write .

refactor(next-config): change to module js
  next.config.mjs
Due: none

docs(license): add mit license
  LICENSE
Due: none

refactor(*): rewrite default code to a minimum
  app/api/hello/route.ts
  app/favicon.ico
  app/globals.css
  app/layout.tsx
  app/page.module.css
  app/page.tsx
  public/.gitkeep
  public/next.svg
  public/thirteen.svg
  public/vercel.svg
Due: prettier --write src

perf(typescript): define configuration file
  tsconfig.json
  tsconfig.paths.json
Due: prettier --write .

fix(tsconfig): correct an incorrect path to the alias destination
  tsconfig.paths.json
Due: prettier --write .

refactor(style): create a directory dedicated to style
  app/layout.tsx
  styles/globals.css
Due: prettier --write src

chore(package): introduce commitizen to unify commit messages
  .czrc
  package.json
  pnpm-lock.yaml
Due: prettier --write .

chore(npm): always enable save-exact mode
  .npmrc
Due: none

style(eslint): install and add configuration for eslint plugin
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write .

chore(prettier): installation and adding a configuration file
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write .

style(*): run prettier
  .eslintrc.json
  .vscode/settings.json
  app/layout.tsx
  app/page.tsx
  package.json
  tsconfig.json
Due: prettier --write src, prettier --write .

fix(tsconfig): include modify target paths
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  app/layout.tsx
  tsconfig.json
Due: prettier --write src, prettier --write .

refactor(package): move packages installed for production to development
  package.json
  pnpm-lock.yaml
Due: prettier --write .

fix(prettier): fix files other than pnpm-lock.yaml to be formatted
  next.config.mjs
  package.json
Due: prettier --write .

chore(package): install tool to allow npm scripts to run at the same time
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write .

chore(node): fix version to 18
  .node-version
Due: none

feat(tailwind): install tailwindcss and add settings
  app/page.tsx
  package.json
  pnpm-lock.yaml
  postcss.config.mjs
  styles/globals.css
  tailwind.config.cjs
  tsconfig.json
Due: prettier --write src, prettier --write .

chore(release): add automatic release function
  .github/workflows/release.yml
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write .

chore(commitlint): add the ability to check commit messages
  .commitlintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write .
